@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppWebBeachSA.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/imgs/Home.jpg" style="background-size: cover;">
</head>
<body>
    <div class="bg-container">
        <section>
            <div class="titlePosition">
                <div class="text-white mb-lg-5">
                    <h1>The Best for your Rest</h1>
                    <h1>Hotel Beach</h1>
                </div>

                <div>
                    <a asp-area="" asp-controller="Clientes" asp-action="ObtenerDatosCliente" class="btn buttom">Join Up</a>
                </div>

            </div>
        </section>
    </div>
</body>
</html>
