@model AppWebBeachSA.Models.Empleado

@{
    ViewData["Title"] = "CrearCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color:#413E3E">
    <section class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="container py-4">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="card shadow-lg d-flex flex-row border-0" style="border-radius: 1rem;">
                        <div class="col-md-7 p-4">
                            <div class="card-body text-black">
                                <form asp-action="CrearCuenta" id="FormularioLogin">
                                    @if (TempData["Error"] != null)
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            <strong>@TempData["Error"]</strong>
                                        </div>
                                    }
                                    <h2 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">Create Your Account employee!!!</h2>

                                    <div class="row">
                                        <div class="form-group">
                                            <label asp-for="Nombre" class="form-label">Name</label>
                                            <input asp-for="Nombre" class="form-control" />
                                            <span asp-validation-for="Nombre" class="text-danger"> </span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Email" class="form-label mt-3">Email</label>
                                            <input asp-for="Email" class="form-control" placeholder="test@AppDomain.com" />
                                            <span asp-validation-for="Email" class="text-danger"> </span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Password" class="form-label mt-3">Password</label>
                                            <input asp-for="Password" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label mt-3">Confirm Password</label>
                                            <input name="confirmPassword" class="form-control" type="password" />
                                            <span asp-validation-for="Password" class="text-danger"> </span>
                                        </div>

                                    </div>

                                    <div class="form-group mb-4 mt-4">
                                        <input type="submit" value="Create" class="btn btn-dark btn-lg w-100" />
                                    </div>

                                    <a class="small text-muted" href="#!">Forgot password?</a>
                                    <p class="mt-3" style="color: #393f81;">
                                        Do you already have an account? <a asp-controller="Empleados" asp-action="Login">Login.</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 d-none d-md-block">
                            <img src="https://static.misionesonline.news/wp-content/uploads/2017/08/16_tres-empleados-juntando-sus-manos-4ba6fvno53g0.jpg"
                                 alt="Login Form" class="img-fluid w-100 h-100" style="border-radius: 0 1rem 1rem 0; object-fit: cover;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>




